{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm p-5">
        <form action="/objects/{{object.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend><b>Edit: </b> {{ object.title }}</legend>
                <div class="py-2">
                    <label class="form-label">Title:</label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder="What kind of object is it?"
                        required value="{{ object.title }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Description: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder="2-3 sentence description."
                        required value="{{ object.description }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Period: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder="Artistic period"
                        required value="{{ object.period }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Date: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.date }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Culture: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.culture }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Medium: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.medium }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Classification: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.classification }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Image URL: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.image }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">Anthropologist associated: </label>
                    <input 
                        type="text" class="form-control " 
                        name="name" placeholder=""
                        required value="{{ object.owner }}"
                    >
                </div>
                <div class="py-2">
                    <label class="form-label">On view: </label>
                    <input 
                        type="checkbox" class="form-check-control" 
                        name="onView"
                        {% if object.onView %}
                            checked
                        {% endif %}
                    >
                </div>
            </fieldset>
            <div class="pt-4">
                <input type="submit" class="btn btn-success" value="Save {{ object.title }}">
                <a href="/objects/{{ object.id }}" class="btn btn-warning">Back</a>
            </div>
        </form>
    </div>
{% endblock %}